.Trend{
    gap: 4rem;

}

.TrendCard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    padding-left: 1rem;
}



hr {
    width: 100%;
    border: 1px solid var(--hrColor);
}

.groupsheder{
    /* text-align: center; */
    background:var(--buttonBg);
    padding: 1rem;
    /* border-radius: 1rem; */
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin: -.5rem;
    color: white;
    display:flex;
    justify-content: space-between;

}
.trend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--inputColor);
}
.trend>div{
    display: flex;
    gap: 10px;
}


.trendImage{
    border-radius: 15%;
    width: 3.2rem;
    height: 3.2rem;
}

.gname{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.gname>span:nth-of-type(1){
    font-weight: bold;
}

.trend>span:nth-of-type(1)
{
    font-weight: bold;
}
.trend>span:nth-of-type(2)
{
    font-size: 13px;
}

.gc-button{
    height: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-right: 4%;
    border-radius: 50%;


}

.jc-button{
    height: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-right: 4%;
    border-radius: 40%;
}

